In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./PenguinsClean.csv')
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [3]:
df.shape

(333, 7)

In [4]:
# filter out chinstraps
df = df[(df['species'] == 'Gentoo') | (df['species'] == 'Adelie')]
df.shape

(265, 7)

In [5]:
from pycaret.classification import *
setup(df, target='sex');

In [6]:
compare_models()

Processing:   0%|          | 0/69 [00:00<?, ?it/s]

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=-1, oob_score=False,
                       random_state=5286, verbose=0, warm_start=False)

In [7]:
ridge_model = create_model('ridge', fold=10)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [8]:
lda_model = create_model('lda', fold=10)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [9]:
catboost_model = create_model('catboost', fold=10)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [10]:
evaluate_model(lda_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [11]:
evaluate_model(catboost_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [12]:
unseen = pd.read_csv('./penguins_holdouts.csv')
unseen = unseen.drop(['sex'], axis=1)
unseen

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,Torgersen,34.1,18.1,193,3475
1,Adelie,Torgersen,42.0,20.2,190,4250
2,Adelie,Torgersen,37.8,17.1,186,3300
3,Adelie,Torgersen,37.8,17.3,180,3700
4,Adelie,Dream,37.5,18.9,179,2975
5,Gentoo,Biscoe,44.5,14.3,216,4100
6,Gentoo,Biscoe,46.2,14.4,214,4650
7,Gentoo,Biscoe,47.3,13.8,216,4725
8,Gentoo,Biscoe,44.5,15.7,217,4875

In [16]:
unseen_pred1 = predict_model(ridge_model, data=unseen)
unseen_pred1

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,prediction_label
0,Adelie,Torgersen,34.099998,18.100000,193,3475,FEMALE
1,Adelie,Torgersen,42.000000,20.200001,190,4250,MALE
2,Adelie,Torgersen,37.799999,17.100000,186,3300,FEMALE
3,Adelie,Torgersen,37.799999,17.299999,180,3700,FEMALE
4,Adelie,Dream,37.500000,18.900000,179,2975,FEMALE
5,Gentoo,Biscoe,44.500000,14.300000,216,4100,FEMALE
6,Gentoo,Biscoe,46.200001,14.400000,214,4650,FEMALE
7,Gentoo,Biscoe,47.299999,13.800000,216,4725,FEMALE
8,Gentoo,Biscoe,44.500000,15.700000,217,4875,FEMALE

In [21]:
unseen_pred2 = predict_model(lda_model, data=unseen)
unseen_pred2.sort_values('prediction_score', ascending=False)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,prediction_label,prediction_score
5,Gentoo,Biscoe,44.500000,14.300000,216,4100,FEMALE,0.9996
1,Adelie,Torgersen,42.000000,20.200001,190,4250,MALE,0.9992
4,Adelie,Dream,37.500000,18.900000,179,2975,FEMALE,0.9886
2,Adelie,Torgersen,37.799999,17.100000,186,3300,FEMALE,0.9865
6,Gentoo,Biscoe,46.200001,14.400000,214,4650,FEMALE,0.9770
7,Gentoo,Biscoe,47.299999,13.800000,216,4725,FEMALE,0.9752
0,Adelie,Torgersen,34.099998,18.100000,193,3475,FEMALE,0.9567
3,Adelie,Torgersen,37.799999,17.299999,180,3700,FEMALE,0.8508
8,Gentoo,Biscoe,44.500000,15.700000,217,4875,FEMALE,0.7686

In [22]:
unseen_pred3 = predict_model(catboost_model, data=unseen)
unseen_pred3.sort_values('prediction_score', ascending=False)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,prediction_label,prediction_score
1,Adelie,Torgersen,42.000000,20.200001,190,4250,MALE,0.9892
6,Gentoo,Biscoe,46.200001,14.400000,214,4650,FEMALE,0.9877
5,Gentoo,Biscoe,44.500000,14.300000,216,4100,FEMALE,0.9854
7,Gentoo,Biscoe,47.299999,13.800000,216,4725,FEMALE,0.9854
2,Adelie,Torgersen,37.799999,17.100000,186,3300,FEMALE,0.9821
0,Adelie,Torgersen,34.099998,18.100000,193,3475,FEMALE,0.9784
4,Adelie,Dream,37.500000,18.900000,179,2975,FEMALE,0.9500
3,Adelie,Torgersen,37.799999,17.299999,180,3700,FEMALE,0.8073
8,Gentoo,Biscoe,44.500000,15.700000,217,4875,MALE,0.5186